@import "src/scss/variables";

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 2px solid $color-pink;
  border-radius: 7px;
  margin-right: 10px;
  width: 50%;
  height: 200px;

  .buttonBlock {
    display: flex;
    justify-content: space-between;
  }
}


@media screen and (max-width: 768px) {
  .counter {
    margin: 0 0 10px 5px;
  }
}