$color-white: #fff;
$color-pink: #ef6eae;
$color-input-error: rgba(248, 3, 3, 0.5);
$box-shadow: 4px 4px 30px 16px rgba(168, 18, 171, 0.5) inset;
$input-color: rgba(255, 255, 255, 0.2);
$disable-color: rgba(222, 219, 219, 0.5);
$button-color: #fc354f;