@import "src/scss/variables";
.counterSettings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid $color-pink;
  border-radius: 7px;
  width: 50%;
  text-transform: uppercase;
  text-align: center;
  .values {
    display: flex;
    flex-direction: column;
  }

  .error {
    background: $color-input-error
  }
}



@media screen and (max-width: 768px) {
  .counterSettings {
    padding: 25px 5px 25px 5px;
  }
}